<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>好听名字_免费起名_金木水火土起名</title>
</head>
<body>
    <form>
        <label>
            姓氏：<input type="text" name="last_name" placeholder="输入姓氏">
        </label>
        <label>
            性别：<input type="radio">
        </label>
        <label>
            <input type="submit" value="起名">
        </label>
    </form>
</body>
</html>